version: '3'

services:
  redis:
    image: bitnami/redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - ./data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./logs:/log
    environment:
      - TZ=Asia/Shanghai
      - ALLOW_EMPTY_PASSWORD=no
      - REDIS_PASSWORD=****